<!doctype html>
<html lang="en">

<head>
  <title>aplicacion blog coursera</title>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
  
</head>

<body>
  <form action = "" method = "post">
  <label for ="">Nombre</label>
    <input type ="text "name="" id="">
    <label for ="">Apellido</label>
    <input type ="text "name="" id="">
    <button type="button" >Enviar</button>

  
  

</body>

</html>